.FeFiction_pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}
 
.FeFiction_pagination span, .FeFiction_pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}
 
.FeFiction_pagination a:hover{
color:#fff;
background: #3279BB;
}
 
.FeFiction_pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}

.weptile_button{
	display: block;
float: left;
margin: 2px 2px 2px 0;
padding: 6px 9px 5px 9px;
text-decoration: none;
width: auto;
color: #fff;
background: #555;}
.weptile_button a{
	color:#FFF;}